@import '/src/App.variables.scss';

.content {
  width: 100%;
  height: 100%;
  padding: 20px 20px 10px 20px;
  position: relative;

  .marks-title {
    @include h2;
    color: $main-color-bark-blue;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
  }

  .marks {
    background: #eee3f9;
    height: 25vh;
    border-radius: 20px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $main-color-purple;
    padding: 10px 20px;

  }

  .marks__buttons {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50px;
    bottom: 100px;
    z-index: 2;
    margin-top: 20px;
  }

  .marks__button {
    background: none;
    padding: 10px 30px;
    border: 2px solid $main-color-yellow;
    color: $main-color-purple;
    border-radius: 20px;
    transition: .3s;

    &:hover {
      background: $main-color-yellow;
    }
  }

  .marks-list__img {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 440px;
  }
}