@import '/src/App.variables.scss';

@media (max-width: 1334px) {
  .marks-form__container {
    width: 500px;
    width: 550px;
    height: 300px;

    .marks-form__input {
      width: 250px;
      height: 40px;
      border: 2px solid $main-color-pink;
      border-radius: 30px;
      padding: 5px 10px;
      margin-top: 30px;
      outline: 0;
    }

    .form-error {
      width: 40vw;
      margin-top: 10px;
      font-size: $descr-font;
    }

    .marks-modal-img {
      width: 200px;
    }
  }
}