@import '/src/App.variables.scss';

@media (max-width: 1334px) {
  .login-form__container {
    width: 350px;
    height: 360px;
    padding: 15px;

    & form {
      width: 95%;
      height: 80%;
      margin-top: 15px;
    }

    .login-form__img {
      width: 70px;
    }
  }
}