@import '/src/App.variables.scss';

@media (max-width: 1334px) {
  .content {
    padding: 15px 15px 5px 30px;

    .marks-title {
      font-size: 42px;
      margin-bottom: 20px;
    }

    .marks {
      height: 240px;
      padding: 15px 20px;
    }

    .marks__buttons {
          width: 332px;
            left: 45px;
            bottom: 63px;
      margin-top: 20px;
    }

    .marks-list__img {
          width: 360px;
    }
  }
}

@media (max-width: 800px) {
  .content {
    .marks {
      height: 190px;
    }
  }
}